<div id="vh" class="d-flex justify-content-center flex-column">

    <div  class="d-flex justify-content-center align-items-center flex-fill">

    <%= render 'form' %>
    
    </div>

    <div id="footer_bottom"><%= render '/site/footer'%></div>

 </div>
