<div id="vh" class="d-flex align-items-end flex-column">

    <div id="vh-center" class="container d-flex align-items-center">
        <%= render 'form' %>
        
    </div>

    <div id="footer_bottom" class="mt-auto"><%= render '/site/footer'%></div>

 </div>

